*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}


body{
    font-family: 'Jost', Georgia, 'Times New Roman', Times, serif;
    background-color:var(--color-beige);
}

:root{
    --color-azul-claro: #A5C0DD; 
    --color-morado:#654E92;
    --color-azul-oscuro: #6C9BCF;
    --color-beige:#F3EDE1; 
    --color-negro: #000; 
    
}

.container{
    width: 90%;
    margin: auto;
}

/* nav principal*/

.menu-btn {
    display: none;
}

.nav-main{
    position: sticky;
    background: var(--color-azul-oscuro);
    text-align: center;
    border-radius: 15px;
    z-index: 1;
    outline: 5px solid var(--color-azul-claro);
    top: 0;
}

.nav-main ul {
    display: flex;
    justify-content: space-around; /* Ajusta según sea necesario */
    align-items: center; /* Ajusta según sea necesario */
    text-align: center;
    background: var(--color-azul-oscuro);
    color: #fff;
    padding: 20px;
    border-radius: 0px 10px 10px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-main_li{
    padding: 20px 80px;
    cursor: pointer;
    margin: 5px;
    color: var(--color-beige);
    font-size: 23px;
    font-weight: bold;
}

.nav-main_li:hover{
    background: var(--color-azul-claro);
    border-radius: 15px;
}

.nav-main_li i {
    font-size: 29px;
    margin-right: 12px;
    color: var(--color-beige);
}

.titulo_decoration{
    position: relative;
    width: 100%;
    height: 100%;

}

.h1_decoration_1{
    position: absolute;
    left: 1050px;
    bottom: 50px;
    width: 400px;
    height: 90px;
}

.h1_decoration_2{
    position: absolute;
    right: 1080px;
    bottom: 50px;
    width: 400px;
    height: 90px;
}

.nav-main_h1 {
    font-size: 95px;
    color: var(--color-azul-oscuro);
    text-align: center;
    letter-spacing: 2.5px;
    font-weight:900;
}

hr {
    margin: 60px;
}

/* header formación de mi y foto*/

.acerca_de_mi{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-image: url(Diseño%201%20completo%201_Mesa%20de%20trabajo%201.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.showcase{
    width: 35%;
    text-align: center;
}

.showcase p {
    font-size: 23px;
    margin-top: 8%;
}

.showcase h2 {
    font-size: 80px;
    color:var(--color-morado)
}

.imagen_showcase{
    flex-shrink: 0;
    width: 50%;
}

.imagen_showcase img {
   width: 80%;

}


/* Sección mi trabajo*/

.article_mi_trabajo {
    background-image: url(Diseño\ 1-02.png);
    background-repeat: no-repeat;
    background-size:300px;
    background-position: top right;
}

.article_mi_trabajo h2 {
    margin-top: 100px;
    font-size: 80px;
    font-weight: bold;
    text-align:left;
    color:var(--color-morado);
    margin-bottom: 20vh;
}

.article_mi_trabajo img {
    width: 200px;
}

.section_illus img {
    width: 140px;
}

.section_comuni img {
    width: 150px;
}

.sections{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    position: relative;
}

.section_comuni, .section_html, .section_illus, .section_foto, .section_estudio{
    padding: 20px 5px;
    border-radius: 20px;
    font-size: 27px;
    font-weight: 1000; 
    cursor: pointer;
    background: var(--color-morado);
    text-align: center;
    outline: 5px solid var(--color-azul-claro);
    color: var(--color-beige);
}

.section_comuni:hover, .section_html:hover, .section_illus:hover, .section_foto:hover, .section_estudio:hover{
    background-color: var(--color-azul-claro);
    outline:5px solid var(--color-beige);
    color: var(--color-morado);
    font-weight: 1000; 
}

.section:visited{
    color: var(--color-beige);
}

.section_html img{
    padding-bottom: 18px;
}


.section_img{
    position: absolute;
    top: 250px;
    width: 400px;
    height: 400px;
}

/* Currículum*/

.curriculum{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 150px;
    margin-bottom: 80px;
    background-image: url(Diseño\ 2-07.png);
    background-repeat: no-repeat;
    background-size:700px;
    background-position: top right;
}

.article_curriculum h2{
    font-size: 80px;
    color: var(--color-morado);
    margin-bottom: 40px;
    font-weight: 900px;
}

.article_curriculum embed {
    margin-left: 20%;

}

/*Decoración de las subpáginas*/

.manual_comunicaciones,
.pdf_brief{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(Diseño\ 1-08.png);
    background-repeat: no-repeat;
    background-size:700px;
    background-position: right bottom;
}

.pdf_decoration{
    position: absolute;
    right: 1100px;
    bottom: 1px;
    width: 400px;
}

.descripcion_comunicacion{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(Diseño\ 1-05.png);
    background-repeat: no-repeat;
    background-size:210px;
    background-position: right bottom;
}

.decoracion_mercado{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(Diseño\ 1-02.png);
    background-repeat: no-repeat;
    background-size:400px;
    background-position: right;
}

.decoracion_html{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(Diseño\ 1-04.png);
    background-repeat: no-repeat;
    background-size:300px;
    background-position: right;
}

/*footer*/

.footer-information{
    background-color: var(--color-azul-oscuro);
    width: 100%;
    height: 80%;
    padding: 30px;
    text-align: center;
    outline: 20px solid var(--color-azul-claro);
}

.footer-titulo h2{
    color:var(--color-morado);
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 25px;

}

.footer-content{
    display: flex;
    flex-direction: 6 column;
    justify-content: space-around;
}

.footer-content i {
    margin-right: 10px;
    color: var(--color-beige);
    font-size: 29px;
}

.footer-content a{
    color: var(--color-negro);
}

.footer-content h3{
    font-size: 25px;
}

.footer-information{
    margin-top: 10%;
}


/*NAV subpaginas funciona para los demás nav comunicaciones, estudio de mercado, fotografía,ilustrator, diseño web*/

.nav_subpagina{
    background-color: var(--color-azul-oscuro); 
    border-radius: 15px;
    top: 0;
    position: sticky;
    outline: 5px solid var(--color-azul-claro);
    text-align: center;
    z-index: 1;
}

.nav_subpagina a{
    cursor: pointer;
    font-size: 17px;
}

.img_title_subpagina{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    vertical-align: middle;
}

/*Se agregó en la subpágina el nav subp li web e illustrator porque no llevaba el botón de volver al principio*/

.nav_subp_li,
.nav_subp_li_web,
.nav_subp_li_illus{
    display: inline-block;
    color: var(--color-negro);
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}

.nav_subp_li h1,
.nav_subp_li_web h1,
.nav_subp_li_illus h1{
    font-size: 30px;
    margin-right: 300px;
    color: var(--color-beige);
}

.nav_subp_li_web h1,
.nav_subp_li_illus h1{
    margin-right: 700px;
}


/* H2 subpáginas*/

.container_comunicacion h2{
    font-size: 60px;
    margin: 80px 0px 20px;
    padding: 5px 10px;
    color: var(--color-azul-claro);
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--color-morado);
    width: 65%;
}


.study_container h2{
    font-size: 60px;
    margin: 80px 0px 20px;
    padding: 5px 10px;
    color: var(--color-azul-claro);
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--color-morado);
    width: 100%;
}

.Htmlycss_container h2{
    font-size: 60px;
    margin: 80px 0px 20px;
    padding: 5px 10px;
    color: var(--color-azul-claro);
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--color-morado);
    width: 38%;
}


/* h3 subpáginas*/

.study_container h3,
.Fotografia_container h3{
    font-size: 30px;
    margin: 50px 0px 20px;
    padding: 5px 5px;
    color: var(--color-morado);
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--color-azul-claro);
    width: 37%;
    
}

/* Todos los párrafos de las subpáginas están acá*/

.container_comunicacion p,
.study_container p,
.Htmlycss_container p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}

.Illustrator_container p{
    font-size: 25px;
}

/* Todas las imagenes de las subpáginas están acá*/

.img_subpaginas{
    width: 250px;
    max-width: 100%; 
    height: auto;
    border: 5px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    object-fit: cover;
    margin: 50px 5px 10px 5px;
}

.Htmlycss_container img{
    width: 70%;
    border: 5px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.img_subpaginas:hover,
.Htmlycss_container img:hover {
    border: 5px solid var(--color-azul-oscuro);
}

/*Organización de las imagenes en subpáginas*/

.galeria_subpaginas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Distribución imagenes de subpáginas esto hace que al darle click en la imagen, esta se agrande*/

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.imagen-lightbox {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.cerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.titulo-lightbox{
    text-align: center;
    font-size: 30px;
    padding: 10px 10px;
    color: var(--color-morado);
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--color-azul-claro);
    width: 52%;
    margin: auto;
    margin-top: 10px;
}

.flecha {
    font-size: 35px;
    color: var(--color-beige); 
    background-color:var(--color-azul-claro); 
    padding: 10px;
    cursor: pointer;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%); 
    user-select: none;
    font-weight: bold;
    border-radius: 30%;
}

.flecha:hover {
    background-color: var(--color-azul-oscuro); 
}

#flecha-izquierda {
    left: 10px;
}

#flecha-derecha {
    right: 10px; /* Posición a la derecha */
}

/* Centra los pdfs*/
.pdf_comunicaciones,
.pdf_estudiomercado{
    margin-left: 20%;
}

/* Estilos específicos para pantallas más pequeñas (hasta 768px) página principal*/
@media only screen and (max-width: 768px) {

    .menu-btn {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
        color: var(--color-beige);
        background-color: var(--color-azul-oscuro);
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .nav-main ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 35%;
        height: 60vh;
        opacity: 85%;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform 0.9s ease-in-out;
    }

    .nav-main ul.show-menu {
        transform: translateX(0);

    }
    
    .nav-main ul a {
        color: #fff;
    }

    .nav-main i{
        margin-right: 30px;
        font-size: 1.3em;
    }

    .nav-main_h1 {
        font-size: 50px; /* Ajusta el tamaño del encabezado para dispositivos más pequeños */
    }
    
    .nav-main_li {
        padding: 15px 40px; /* Ajusta el padding de los elementos de navegación */
        margin: 5px;
        font-size: 18px; /* Ajusta el tamaño de fuente de los elementos de navegación */
    }

    .nav-main_h1 {
        font-size: 80px;
    }

    
    /* Acerca de mí */
    .acerca_de_mi {
        flex-direction: column; /* Cambia la dirección de la fila a columna para dispositivos más pequeños */
        align-items: center; /* Centra los elementos en dispositivos más pequeños */
        padding: 20px;
        background-position: center bottom;
    }


    .showcase {
        width: 90%; /* Ajusta el ancho del elemento showcase para dispositivos más pequeños */
    }
    
    .showcase p {
        font-size: 18px; /* Ajusta el tamaño de fuente para dispositivos más pequeños */
        margin-top: 2%;
    }
    
    .showcase h2 {
        font-size: 60px; /* Ajusta el tamaño de fuente para dispositivos más pequeños */
    }
    
    .imagen_showcase img {
        max-width: 100%; /* Ajusta el ancho de la imagen para dispositivos más pequeños */
        margin-bottom: 160px;
    }
    
    /* Mi Trabajo */
    .article_mi_trabajo h2 {
        margin-top: 50px;
        font-size: 60px; /* Ajusta el tamaño de fuente para dispositivos más pequeños */
        margin-bottom: 10vh;
    }
    
    /* Sección Mi Trabajo */
    .sections {
        flex-direction: column; /* Cambia la dirección de la fila a columna para dispositivos más pequeños */
        align-items: center; /* Centra los elementos en dispositivos más pequeños */
    }
    
    .section_comuni, .section_html, .section_illus, .section_foto, .section_estudio {
        padding: 15px 10px; /* Ajusta el padding de los elementos de sección para dispositivos más pequeños */
        margin-bottom: 20px;
        font-size: 20px; /* Ajusta el tamaño de fuente de los elementos de sección para dispositivos más pequeños */
    }
    
    /* Currículum*/
    .article_curriculum h2 {
        font-size: 60px; /* Ajusta el tamaño de fuente para dispositivos más pequeños */
        margin-bottom: 20px;
    }
    

    /*Footer*/

    .footer-content h3{
        font-size: 15px;

    }
    .footer-content i {
        margin-right: 10px;
        color: var(--color-beige);
        font-size: 21px;
    }
    
    .footer-titulo h2{
        font-size: 35px;
    }


    @media only screen and (max-width: 768px) {
        .nav_subpagina {
            flex-direction: column;
            justify-content: center;
            align-items: center; /* Alinea el contenido en el centro del contenedor */
        }
    
        .nav_subp_li {
            width: 40%;
            text-align: center;
            margin-bottom: 1px;
            padding: 1px 1px;
        }

        .nav_subp_li h1 {
            display: inline; 
            margin-right: 1px; 
        }
    
        .img_title_subpagina {
            width: 30px;
            height: 30px;
        }
    
        .nav_subpagina a {
            cursor: pointer;
            font-size: 12px;
            display: block; 
        }

        .nav_subp_li h1,
        .nav_subp_li_web h1,
        .nav_subp_li_illus h1{
            font-size: 30px;
        }

        .nav-main_li i {
            font-size: 20px;
        }

        .nav_subp_li_web h1,
        .nav_subp_li_illus h1{
            display: inline; 
            margin-right: 1px; 
        }

           /*H2 subpáginas*/
        
        
        .container_comunicacion h2{
            font-size: 30px;
            margin: 40px 0px 10px;
            padding: 5px 10px;
            width: 95%;
        }
        
        
        .study_container h2{
            font-size: 30px;
            margin: 40px 0px 10px;
        }
        
        .Htmlycss_container h2{
            font-size: 30px;
            margin: 40px 0px 10px;
            width: 55%;
        }

           /* h3 subpáginas*/
        
        .study_container h3,
        .Fotografia_container h3{
            font-size: 20px;
            margin: 25px 0px 2px;
            padding: 2px 7px;
            width: 60%;
            
        }

         /* Todos los párrafos de las subpáginas están acá*/
        
        .container_comunicacion p,
        .study_container p,
        .Htmlycss_container p{
            font-size: 15px;
            margin-bottom: 10px;
        }
        
        .Illustrator_container p{
            font-size: 15px;
        }
        
        .article_curriculum embed,
        .pdf_comunicaciones,
        .pdf_estudiomercado,
        .video_estudiomercado {
            width: 100%;
            margin-left: 0;
        }

        /*Decoración de las subpáginas*/

            /*Decoración en responsive*/
    
        .h1_decoration_1,
        .h1_decoration_2,
        .pdf_decoration,
        .manual_comunicaciones{
            display: none;
        }
    

        .section_img{
            position: absolute;
            top: 800px;
            right: 150px;
            width: 400px;
            height: 400px;
        }

        .article_mi_trabajo {
            background-size:190px;
        }

        .descripcion_comunicacion{
            background-image: none;
        }

        .decoracion_mercado{
            background-size:150px;
            background-position: right top;
        }

        .decoracion_html{
            background-size:150px;
            background-position: right bottom;
        }
    }
    
}
