*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}


body{
    font-family: var(--font-family);
    background-color:var(--color-beige);
}

:root{
    --color-azul-claro: #A5C0DD; 
    --color-morado:#654E92;
    --color-azul-oscuro: #6C9BCF;
    --color-beige:#F3EDE1; 
    --color-negro: #000;
    --font-family: 'Jost', Georgia, 'Times New Roman', Times, serif;
    
}

.container{
    width: 90%;
    margin: auto;
}

.titulo__decoration{
    position: relative;
    width: 100%;
    height: 100%;

}

.titulo__h1 {
    font-size: 5rem;
    color: var(--color-azul-oscuro);
    text-align: center;
    letter-spacing: 2.5px;
    font-weight:900;
}

.h1__decoration__1{
    position: absolute;
    left: 1050px;
    bottom: 50px;
    width: 400px;
    height: 90px;
}

.h1__decoration__2{
    position: absolute;
    right: 1080px;
    bottom: 50px;
    width: 400px;
    height: 90px;
}

/* nav principal*/

.menu__btn {
    display: none;
}

.nav__main{
    position: sticky;
    background: var(--color-azul-oscuro);
    text-align: center;
    border-radius: 15px;
    z-index: 1;
    outline: 5px solid var(--color-azul-claro);
    top: 0;
}

.nav__main ul {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    text-align: center;
    background: var(--color-azul-oscuro);
    color: #fff;
    border-radius: 0px 10px 10px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav__main__li{
    padding: 15px 80px;
    cursor: pointer;
    margin: 5px;
    color: var(--color-beige);
    font-size: 1.3rem;
    font-weight: bold;
}

.nav__main__li:hover{
    background: var(--color-azul-claro);
    border-radius: 15px;
}

.nav__main__li i {
    font-size: 1.7rem;
    margin-right: 12px;
    color: var(--color-beige);
}

hr {
    margin: 60px;
}

/* header formación de Silvia Candia y foto*/

.acerca__de__mi{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

}

.showcase{
    width: 50%;
    text-align: center;
    background-image: url(Illustrator/Diseño\ 1\ completo\ 1_Mesa\ de\ trabajo\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 70px;
}

.showcase p {
    width: 70%;
    font-size: 1.2rem;
    margin-left: 70px;

}

.showcase h2 {
    font-size: 5rem;
    margin-right: 70px;
    color:var(--color-morado)
}

.imagen__showcase{
    flex-shrink: 0;
    width: 50%;
}

.imagen__showcase img {
   max-width: 60%;
   border-radius: 20px;
   margin-left: 15%;

}

/* Sección mi trabajo*/

.article__mi__trabajo {
    background-image: url(Illustrator/Diseño\ 1-02.png);
    background-repeat: no-repeat;
    background-size:300px;
    background-position: top right;
}

.article__mi__trabajo h2 {
    margin-top: 100px;
    font-size: 5rem;
    font-weight: bold;
    text-align:left;
    color:var(--color-morado);
    margin-bottom: 20vh;
}

.article__mi__trabajo img {
    width: 200px;
}

.section__illus img {
    width: 140px;
}

.section__comuni img {
    width: 150px;
}

.sections{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    position: relative;
}

.section__comuni, .section__html, .section__illus, .section__foto, .section__estudio{
    padding: 20px 5px;
    border-radius: 20px;
    font-size: 1.7rem;
    font-weight: 1000; 
    cursor: pointer;
    background: var(--color-morado);
    text-align: center;
    outline: 5px solid var(--color-azul-claro);
    color: var(--color-beige);
}

.section__comuni:hover, .section__html:hover, .section__illus:hover, .section__foto:hover, .section__estudio:hover{
    background-color: var(--color-azul-claro);
    outline:5px solid var(--color-beige);
    color: var(--color-morado);
    font-weight: 1000; 
}

.section:visited{
    color: var(--color-beige);
}

.section__html img{
    padding-bottom: 18px;
}


.section__img{
    position: absolute;
    top: 250px;
    width: 400px;
    height: 400px;
}

/* Currículum*/

.curriculum{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 150px;
    margin-bottom: 80px;
    background-image: url(Illustrator/Diseño\ 2-07.png);
    background-repeat: no-repeat;
    background-size:700px;
    background-position: top right;
}

.article__curriculum h2{
    font-size: 5rem;
    color: var(--color-morado);
    margin-bottom: 40px;
    font-weight: 900px;
}

.hoja__vida iframe {
    display: none;
}

/*Decoración de las subpáginas*/

.manual__comunicaciones,
.pdf__brief{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(Illustrator/Diseño\ 1-08.png);
    background-repeat: no-repeat;
    background-size:700px;
    background-position: right bottom;
}

.pdf__decoration{
    position: absolute;
    right: 1100px;
    bottom: 1px;
    width: 400px;
}

.descripcion__comunicacion{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(Illustrator/Diseño\ 1-05.png);
    background-repeat: no-repeat;
    background-size:210px;
    background-position: right bottom;
}

.decoracion__mercado{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(Illustrator/Diseño\ 1-02.png);
    background-repeat: no-repeat;
    background-size:400px;
    background-position: right;
}

.decoracion__html{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(Illustrator/Diseño\ 1-04.png);
    background-repeat: no-repeat;
    background-size:300px;
    background-position: right;
}

/*footer*/

.footer__information{
    background-color: var(--color-azul-oscuro);
    width: 100%;
    height: 80%;
    text-align: center;
    outline: 20px solid var(--color-azul-claro);
}

.footer__titulo h2{
    color:var(--color-morado);
    font-weight: bold;
    font-size: 3.1rem;
    margin-bottom: 20px;

}

.footer__content{
    display: flex;
    flex-direction: 6 column;
    justify-content: space-around;
    padding: 5px 0px 15px;
}

.footer__content i {
    margin-right: 10px;
    color: var(--color-beige);
    font-size: 1.8rem;

}

.footer__content a{
    color: var(--color-azul-claro);
}

.footer__content h3{
    font-size: 1.5rem;
    color: var(--color-azul-claro);
}

.footer__content h3:hover{
    border: 2px solid var(--color-morado);
    border-radius: 10px;
    padding: 1px 8px;
}


/*NAV subpaginas funciona para los demás nav comunicaciones, estudio de mercado, fotografía,ilustrator, diseño web*/

.nav__subpagina{
    background-color: var(--color-azul-oscuro); 
    border-radius: 15px;
    top: 0;
    position: sticky;
    outline: 5px solid var(--color-azul-claro);
    text-align: center;
    z-index: 1;
}

.nav__subpagina a{
    cursor: pointer;
    font-size: 1rem;
}

.img__title__subpagina{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    vertical-align: middle;
}

/*Se agregó en la subpágina el nav subp li web e illustrator porque no llevaba el botón de volver al principio*/

.nav__subp__li,
.nav__subp__li__web,
.nav__subp__li__illus{
    display: inline-block;
    color: var(--color-negro);
    font-size: 1.3rem;
    font-weight: bold;
    vertical-align: middle;
}

.nav__subp__li h1,
.nav__subp__li__web h1,
.nav__subp__li__illus h1{
    font-size: 1.9rem;
    margin-right: 300px;
    color: var(--color-beige);
}

.nav__subp__li__web h1,
.nav__subp__li__illus h1{
    margin-right: 700px;
}

/* H2 subpáginas*/

.container__comunicacion h2{
    font-size: 3.7rem;
    margin: 80px 0px 20px;
    padding: 5px 10px;
    color: var(--color-azul-claro);
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--color-morado);
    width: 65%;
}


.study__container h2{
    font-size: 3.7rem;
    margin: 80px 0px 20px;
    padding: 5px 10px;
    color: var(--color-azul-claro);
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--color-morado);
    width: 100%;
}

.Htmlycss__container h2{
    font-size: 3.7rem;
    margin: 80px 0px 20px;
    padding: 5px 10px;
    color: var(--color-azul-claro);
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--color-morado);
    width: 38%;
}


/* h3 subpáginas*/

.study__container h3,
.Fotografia__container h3{
    font-size: 1.9rem;
    margin: 50px 0px 20px;
    padding: 5px 5px;
    color: var(--color-morado);
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--color-azul-claro);
    width: 37%;
    
}

/* Todos los párrafos de las subpáginas están acá*/

.container__comunicacion p,
.study__container p,
.Htmlycss__container p{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.Illustrator__container p{
    font-size: 1.6rem;
}

/* Todas las imagenes de las subpáginas están acá*/

.img__subpaginas{
    width: 250px;
    max-width: 100%; 
    height: auto;
    border: 5px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    object-fit: cover;
    margin: 50px 5px 10px 5px;
}

.Htmlycss__container img{
    width: 70%;
    border: 5px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.img__subpaginas:hover,
.Htmlycss__container img:hover {
    border: 5px solid var(--color-azul-oscuro);
}

/*Organización de las imagenes en subpáginas*/

.galeria__subpaginas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Distribución imagenes de subpáginas esto hace que al darle click en la imagen, esta se agrande*/

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.imagen__lightbox {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.cerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.9rem;
    color: #fff;
    cursor: pointer;
}

.titulo__lightbox{
    text-align: center;
    font-size: 1.9rem;
    padding: 10px 10px;
    color: var(--color-morado);
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--color-azul-claro);
    width: 52%;
    margin: auto;
    margin-top: 10px;
}

.flecha {
    font-size: 2.2rem;
    color: var(--color-beige); 
    background-color:var(--color-azul-claro); 
    padding: 10px;
    cursor: pointer;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%); 
    user-select: none;
    font-weight: bold;
    border-radius: 30%;
}

.flecha:hover {
    background-color: var(--color-azul-oscuro); 
}

#flecha__izquierda {
    left: 10px;
}

#flecha__derecha {
    right: 10px;
}

/* pdfs los organiza*/

.pdf__curriculum,
.pdf__estudiomercado,
.manual__comunicaciones object{
    width: 65%;
    height: 80vh;
    display: block;
    margin: 0 auto;
}


.manual__comunicaciones p{
    display: none;
}

.brief iframe{
    display: none;
}

/*Visulación tablets*/

@media only screen and (max-width: 1200px) {
    .titulo__h1{
        font-size: 4rem;
    }
    .h1__decoration__1{
        left: -90px;
    }
    
    .h1__decoration__2{
        right: -48px;
    }
    .nav__main__li{
        padding: 5px 10px;
        margin: 5px;
    }
    
    .showcase p {
        font-size: 0.90rem;
        margin-top: 12px;
    }
    
    .showcase h2 {
        font-size: 3rem;
        margin: auto;
    }
    .article__mi__trabajo {
        background-size:150px;
    }
    
    .article__mi__trabajo h2 {
        margin-top: 50px;
        font-size: 4rem;
        margin-bottom: 5vh;
    }
    
    .article__mi__trabajo img,     .section__illus img,     .section__comuni img{
        width: 100px;
    }
    
    .section__img{
        display: none;
    }

    .curriculum{
        margin-top:50px
    }

    .article__curriculum h2{
        font-size: 4rem;
    }

    .footer__information{
        margin-top: 3%;
        padding: 5px;
    }
    
    .footer__titulo h2{
        margin-bottom: 10px;
        font-size: 2.5rem;
    
    }
    
    .footer__content h3{
        font-size: 1.2rem;
    }

    .nav__subp__li__web h1,
    .nav__subp__li__illus h1{
        margin-right: 400px;
    }

    .container__comunicacion h2, .study__container h2, .Htmlycss__container h2{
        font-size: 2.5rem;
    }
    
    .container__comunicacion p,
    .study__container p,
    .Htmlycss__container p, .Illustrator__container p{
        font-size: 1.2rem;
    }
    
    .pdf__curriculum,
    .pdf__estudiomercado,
    .manual__comunicaciones object{
        padding: 0px 0px 20px;
    }
    
    
    .study__container h3,
    .Fotografia__container h3{
        font-size: 1.5rem;
        width: 30%;
        
    }
    
    .decoracion__html, .decoracion__mercado {
        background-size:200px;
    }
    
}

/*Visualización telefonos*/

@media only screen and (max-width: 933px) {
    .menu__btn {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
        color: var(--color-beige);
        background-color: var(--color-azul-oscuro);
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .nav__main ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 35%;
        height: 60vh;
        opacity: 85%;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform 0.9s ease-in-out;
    }

    .nav__main ul.show-menu {
        transform: translateX(0);

    }
    
    .nav__main ul a {
        color: #fff;
    }
    
    .nav__main__li {
        padding: 20px 5px;
        margin: 2px;
        font-size: 1.2rem;
    }

    .titulo__h1 {
        font-size: 4rem;
    }

    .h1__decoration__1, .h1__decoration__2{
        display: none;
    }
   
    .acerca__de__mi {
        flex-direction: column;
        align-items: center;
        background-image: url(Illustrator/Diseño\ 1\ completo\ 1_Mesa\ de\ trabajo\ 1.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
    }


    .showcase {
        width: 100%;
        background-image: none;
    }
    
    .showcase p {
        font-size: 1.2rem;
        margin-top: 2%;
        margin: auto;
    }
    
    .showcase h2 {
        font-size: 3.7rem;
        margin-right: 0px;
    }
    
    .imagen__showcase img {
        max-width: 100%;
        margin-top: 50px;
        margin-left: 0px;
    }
    
    /* Mi Trabajo */
    .article__mi__trabajo h2 {
        margin-top: 50px;
        font-size: 3.7rem;
        margin-bottom: 10vh;
    }
    
    /* Sección Mi Trabajo */
    .sections {
        flex-direction: column;
        align-items: center; 
    }
    
    .section__comuni, .section__html, .section__illus, .section__foto, .section__estudio {
        padding: 15px 10px; 
        margin-bottom: 20px;
        font-size: 1.3rem;
    }
    
    /* Currículum*/
    .article__curriculum h2 {
        font-size: 3.7rem;
        margin-bottom: 20px;
    }

    .hoja__vida{ 
        display: block;
        position: relative; 
        width: 100%; 
        height: 0; 
        padding-top: 141.4286%;
        padding-bottom: 0; 
        box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
        margin-top: 1.6em; margin-bottom: 0.9em; 
        overflow: hidden;
        border-radius: 8px; 
        will-change: transform;
     }
     
     .hoja__vida iframe{
        display: block;
        position: absolute; 
        width: 100%; 
        height: 100%; 
        top: 0; 
        left: 0; 
        border: none; 
        padding: 0;
        margin: 0;
     }
     
    /*Footer*/

    .footer__information{
        padding: 5px;
        outline: 10px solid var(--color-azul-claro);
    }

    .footer__content h3{
        font-size: 0.7rem;
    }
    .footer__content i {
        margin-right: 10px;
        margin-bottom: 10px;
        color: var(--color-beige);
        font-size: 1.2rem;
    }
    
    .footer__titulo h2{
        font-size: 1.5rem;
    }

    .nav__subpagina{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .nav__subpagina a{
        font-size: 0.7rem;
    }
    
    .nav__subp__li h1{
        font-size: 1.2rem;
        margin-right: 130px;
    }

    .nav__subp__li__web h1,
    .nav__subp__li__illus h1{
        font-size: 1.2rem;
        margin-right: 230px;
    }

    .nav__subp__li i, .nav__subp__li__illus i, .nav__subp__li__web i{
        font-size: 20px;
        width: 10px;
    }

       /*H2 subpáginas*/
       
    .container__comunicacion h2{
        font-size: 1.9rem;
        margin: 40px 0px 10px;
        padding: 5px 10px;
        width: 95%;
    }
    
    
    .study__container h2{
        font-size: 1.9rem;
        margin: 40px 0px 10px;
    }
    
    .Htmlycss__container h2{
        font-size: 1.9rem;
        margin: 40px 0px 10px;
        width: 55%;
    }

       /* h3 subpáginas*/
    
    .study__container h3,
    .Fotografia__container h3{
        font-size: 1.3rem;
        margin: 25px 0px 2px;
        padding: 2px 7px;
        width: 60%;
        
    }

     /* Todos los párrafos de las subpáginas están acá*/
    
    .container__comunicacion p,
    .study__container p,
    .Htmlycss__container p{
        font-size: 0.9rem;
        margin-bottom: 10px;
    }
    
    .Illustrator__container p{
        font-size: 0.9rem;
    }
    
    .video__estudiomercado {
        width: 100%;
    }

    .manual__comunicaciones p{
        display: block;
    }

    /*Pdfs organización*/

    .pdf__curriculum,
    .manual__comunicaciones object,
    .pdf__estudiomercado{
         display: none;
    }

    .brief{
        display: block;
        position: relative;
        width: 100%; 
        height: 0; 
        padding-top: 56.2500%;
        padding-bottom: 0; 
        box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
        margin-top: 1.6em; 
        margin-bottom: 0.9em; 
        overflow: hidden;
        border-radius: 8px; 
        will-change: transform;
    }
    
    .brief iframe{
        display: block;
        position: absolute; 
        width: 100%; 
        height: 100%; 
        top: 0; 
        left: 0; 
        border: none; 
        padding: 0;
        margin: 0;
    }

    /*Decoración de las subpáginas*/

    .pdf__decoration,
    .section__img{
        display: none;
    }

    .article__mi__trabajo {
        background-size:90px;
    }

    .descripcion__comunicacion{
        background-image: none;
    }

    .decoracion__mercado{
        background-size:100px;
        background-position: right top;
    }

    .decoracion__html{
        background-size:100px;
        background-position: right bottom;
    }

    .nav__main__li:hover{
        padding: 9px;
    } 
}

@media only screen and (max-width: 500px){
    .nav__subpagina a{
        font-size: 0.5rem;
    }
    
    .nav__subp__li h1{
        font-size: 1rem;
        margin-right: 10px;
    }

    .nav__subp__li__web h1,
    .nav__subp__li__illus h1{
        font-size: 1rem;
        margin-right: 100px;
    }

    .nav__subp__li i, .nav__subp__li__illus i, .nav__subp__li__web i{
        font-size: 20px;
        width: 10px;
    }

    .titulo__h1 {
        font-size: 2.5rem;
    }
    .showcase h2,
    .article__mi__trabajo h2,
    .article__curriculum h2 {
        font-size: 2rem;
    }
    .showcase p{
        font-size: 1.1rem;

    }
    .study__container h3,
    .Fotografia__container h3{
    font-size: 1.3rem;
    }
    .container__comunicacion h2,
    .study__container h2,
    .Htmlycss__container h2 {
        font-size: 1.5rem;
    }
}